[Unit]
Description=Lifecycle of a frontend web network
Requires=docker.service
After=docker.service
[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/docker network create web
ExecStop=/usr/bin/docker network rm web
[Install]
WantedBy=local.target
